@tailwind base;
@tailwind components;
@tailwind utilities;


/* Base overflow fixes */
html, body {
    width: 100%;
    overflow-x: hidden;
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Fix for modal scrolling */
  body.modal-open {
    overflow: hidden;
    touch-action: none;
  }
  
  /* Fix for any horizontal scrolling issues */
  * {
    max-width: 100%;
    box-sizing: border-box;
  }
  
  /* Fix for Safari */
  @supports (-webkit-touch-callout: none) {
    .min-h-screen {
      min-height: -webkit-fill-available;
    }
  }